.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

.red {
  background-color: #e74c3c;
}

.blue {
  background-color: #3498db;
}

.box {
  min-height: 50px;
}

.padding-top {
  padding-top: 15px;
}

#battleContainer {
  margin: 15px 0;
}

.col-xs-2 {
  padding: 0;
  border: 1px solid black;
}

.player-img {
  display: inline-block;
  height: 50px;
}

.player-name {
  padding-left: 15px;
}

.panel-body > .list-group {
  margin: 0;
}

.list-group-item {
  padding: 0;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.navbar-header {
  float: none !important;
}

.navbar-toggle {
  display: inline-block !important;
}

.modal {
  background-color: rgba(0,0,0,0.4);
}

.bottom-padding {
  padding-bottom: 15px;
}

.well p {
  margin: 0;
}

.well.blue p {
  font-size: 42px;
}

.well.red p {
  font-size: 42px;
}