.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.box {
  min-height: 50px;
}

#battleContainer {
  margin: 15px 0;
}

.col-xs-2 {
  padding: 0;
  border: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.navbar-header {
  float: none !important;
}

.navbar-toggle {
  display: inline-block !important;
}